@model MyReviewProject.Models.EditUserViewModel
@{
    ViewBag.Title = "Change User Info";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("EditUSer", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    <h4>Ваш текущий логин @Model.OldLogin</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.NewLogin, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NewLogin, new { @class = "form-control" })
        </div>
    </div>

    <h4>Ваш текущий Email @Model.OldEmail</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.NewEmail, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NewEmail, new { @class = "form-control" })
        </div>
    </div>

    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>




    <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type = "submit" value="Применить изменения" class="btn btn-default" />
            </div>
        </div>



}