@model MyReviewProject.Models.IndexViewModel
@{
    ViewBag.Title = "Управление";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Здравствуйте, @Model.userLogin !</h4>
    <h4>Изменение параметров учетной записи</h4>
    <hr />
    <dl class="dl-horizontal">
        <hr />
        <dd>@Html.ActionLink("Изменить данные", "EditUser")</dd>
        <hr />
    </dl>

    <hr />

    <div>
        <h4>Изменение параметров ролей</h4>
        <dd>@Html.ActionLink("Изменить роли", "Index", "Role")</dd>
    </div>

    @if (User.IsInRole("User"))
    {
        <div>
            <h4>Изменение параметров ролей</h4>
            <dd>@Html.ActionLink("Изменить роли", "Index", "Role")</dd>
        </div>
    }
</div>