@*@model MyReviewProject.Models.CommentsReviewViewModel*@


<div class="comments-container">
    @*<h1>Comentarios <a href="http://creaticode.com">creaticode.com</a></h1>*@    
    <ul id="comments-list" class="comments-list">
        <li>
            <div class="comment-main-level">
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Agustin Ortiz</a></h6>
                        <span>hace 20 minutos</span>
                        <i class="fa fa-reply"></i>
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="comment-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="comment-main-level">
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name"><a href="http://creaticode.com/blog">Lorena Rojero</a></h6>
                        <span>hace 10 minutos</span>
                        <i class="fa fa-reply"></i>
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="comment-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="comment-main-level">
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Agustin Ortiz</a></h6>
                        <span>hace 10 minutos</span>
                        <i class="fa fa-reply"></i>
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="comment-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="comment-main-level">
                <div class="comment-box" id="box4">
                    <div class="comment-head">
                        <h6 class="comment-name"><a href="http://creaticode.com/blog">Lorena Rojero</a></h6>
                        <span>hace 10 minutos</span>
                        <i class="fa fa-reply" id="4"></i>
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="comment-content" id="mydiv4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                    </div>
                </div>
            </div>
        </li>

        @*@foreach (var comment in Model.Comments)
        {
        <li>
            <div class="comment-main-level">
                <div class="comment-box" id="box@comment.Id">
                    <div class="comment-head">
                        <h6 class="comment-name"><a href="http://creaticode.com/blog">@comment.Author.UserName</a></h6>
                        <span>@comment.CreateTime</span>
                        <i class="fa fa-reply" id="@comment.Id"></i>
                        <i class="fa fa-heart">@comment.Likes</i>
                    </div>
                    <div class="comment-content" id="@comment.Id">
                        @comment.Comment
                    </div>
                </div>
            </div>
        </li>
        }*@

        <li>
            <div class="comment-main-level">
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name"></h6>
                    </div>
                    <div class="comment-content">
                        <div class="leavecomment" placeholder="  А что вы думаете по этому поводу?" contenteditable="true"></div>
                        <p id="wrongcomment">Ваш комментарий содержит слишком мало текста.</p>
                        <p id="answerto" style="display:none"></p>
                        <button class="submitcomment">Submit</button>
                    </div>                    
                    <script src="~/Scripts/ReviewScripts.js" type="text/javascript"></script>
                </div>                
            </div>
        </li>
    </ul>
</div>