@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Главная</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Layout.css" />

</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="~/Home/Index" class="current">Main</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
            @if (Request.IsAuthenticated)
            {
        
            <li>@Html.ActionLink("Здравствуйте, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
        
            }
            else
            {        
            <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>        
            }
        </ul>
    </div>

    <div class="menu-cat">        
        <ul>
            <li><a href="" class="current">Boopers</a></li>
            <li><a href="">Shmoopers</a></li>
            <li><a href="">Putin</a></li>
            <li><a href="">Porn</a></li>
        </ul>
    </div>
    <div id="content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

</body>
</html>
